{
  "Articulations": [
    {
      "ArticulationID": 1,
      "ID": 1001,
      "Name": "Staccato",
      "Output": [
        {
          "MB1": 24,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 2,
      "ID": 1002,
      "Name": "Detache",
      "Output": [
        {
          "MB1": 24,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 13,
      "ID": 1013,
      "Name": "Sustain",
      "Output": [
        {
          "MB1": 25,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 14,
      "ID": 1014,
      "Name": "Marcato (w/CC1)",
      "Output": [
        {
          "MB1": 25,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 15,
      "ID": 1015,
      "Name": "XF tremolo (w/CC20)",
      "Output": [
        {
          "MB1": 25,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 98,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 25,
      "ID": 1025,
      "Name": "Legato",
      "Output": [
        {
          "MB1": 26,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 26,
      "ID": 1026,
      "Name": "Portamento",
      "Output": [
        {
          "MB1": 26,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 37,
      "ID": 1037,
      "Name": "Sforzato",
      "Output": [
        {
          "MB1": 27,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 38,
      "ID": 1038,
      "Name": "Sfz XV tremolo (w/CC20)",
      "Output": [
        {
          "MB1": 27,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 49,
      "ID": 1049,
      "Name": "Tremolo",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 50,
      "ID": 1050,
      "Name": "Trem. marcato (w/CC1)",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 61,
      "ID": 1061,
      "Name": "Pizzicato",
      "Output": [
        {
          "MB1": 29,
          "Status": "Note ON",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 73,
      "ID": 1073,
      "Name": "Custom 1",
      "Output": [
        {
          "MB1": 30,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 96,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 74,
      "ID": 1074,
      "Name": "Custom 2",
      "Output": [
        {
          "MB1": 30,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 97,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 75,
      "ID": 1075,
      "Name": "Custom 3",
      "Output": [
        {
          "MB1": 30,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 98,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 76,
      "ID": 1076,
      "Name": "Custom 4",
      "Output": [
        {
          "MB1": 30,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 99,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    }
  ]
}