{
  "Articulations": [
    {
      "ArticulationID": 1,
      "ID": 1001,
      "Name": "Staccato",
      "Output": [
        {
          "MB1": 24,
          "Status": "Note ON",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 13,
      "ID": 1013,
      "Name": "Sustain",
      "Output": [
        {
          "MB1": 25,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 36,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 14,
      "ID": 1014,
      "Name": "Marcato (w/CC1)",
      "Output": [
        {
          "MB1": 25,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 37,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 25,
      "ID": 1025,
      "Name": "Legato",
      "Output": [
        {
          "MB1": 26,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 36,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 26,
      "ID": 1026,
      "Name": "Legato-sus",
      "Output": [
        {
          "MB1": 26,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 37,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 37,
      "ID": 1037,
      "Name": "Sforzato",
      "Output": [
        {
          "MB1": 27,
          "Status": "Note ON",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 49,
      "ID": 1049,
      "Name": "Custom 1",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 36,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 50,
      "ID": 1050,
      "Name": "Custom 2",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 37,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 51,
      "ID": 1051,
      "Name": "Custom 3",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 38,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    },
    {
      "ArticulationID": 52,
      "ID": 1052,
      "Name": "Custom 4",
      "Output": [
        {
          "MB1": 28,
          "Status": "Note ON",
          "ValueLow": 0
        },
        {
          "MB1": 39,
          "Status": "Note On",
          "ValueLow": 0
        }
      ]
    }
  ]
}